.*#
.#*
#*
apache/
apache/*
*.bak
dumps
dumps/*
fixtures/
html/
html/*
*.json
logfile*
logs/
logs/*
out.*
*.pk
*.pyc
schema*
settings.py
*.sql
*.swp
*.txt
*.tar
media_site/admin
media_site/django_extensions
ssl
