<!DOCTYPE html
	PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	 "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-US" xml:lang="en-US">
<head>
<title>{% block title %}Media Database{% endblock %}</title>
{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'defined_media/css/defined_media.css' %}"></link>
{% block js_files %}{% endblock %}
</head>
<body>

{% block header %}
<div class='header'>
<span id='banner'>Media Database</span>
</div>

<div class='header2'>

  <div>
  {% load login_form %}
  {% login_form %}
  </div>

  <div class='search_form_outer'>
  {% load search_form %}
  {% search_form %}
  </div>

</div>
{% endblock %}

<div id='container2'>
  <div id='container1'>
    <div id='navcol'>
      {% include "defined_media/navigation.html" %}
    </div>

    <div id='contentcol'>
      {% block content %}{% endblock content %}
    </div>
  </div>
</div>

<div class='footer'>
{% block footer %}© 2014, Institute for Systems Biology, All Rights Reserved{% endblock %}
</div>

</body>
</html>
