<!DOCTYPE html
	PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	 "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-US" xml:lang="en-US">
<head>
<title>{% block title %}Media Database{% endblock %}</title>
{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'defined_media/css/defined_media.css' %}"></link>
</head>
<body>

<div class='header'>
  {% block header %}Media Database
  {% load search_form %}
  {% search_form %}
  {% endblock %}
</div>

<div class='main'>
  <div class='nav'>{% include "defined_media/navigation.html" %}</div>

  <div id='content' class='content'>{% block content %}{% endblock content %}<div>
</div>

</body>
</html>
