{% extends 'defined_media/base.html' %}

{% block title %}Compound: {{ compounds }}{% endblock %}

{% block content %}

<div>
{% if compounds %}
        <h2>{{ compounds.name }}</h2>
	<p>Compound ID: {{ compounds.compid  }}</p>
	<p>KEGG ID: {{ compounds.kegg_id|default:'<i>&lt;None&gt;</i>' }}</p>
	<p>BiGG ID: {{ compounds.bigg_id|default:'<i>&lt;None&gt;</i>' }}</p>
	
	
{% else %}
	<p>No compound sent.</p>
{% endif %}
</div>

<div>
{% with names_list=compounds.namesofcompounds_set.all %}
<p>{{ names_list|length }} Common names:</p>

<ul>
  {% for name in names_list %}
  <li>{{ name.name}}</li>	
  {% endfor %}
</ul>
{% endwith %}
</div>

<div>Media:
{% with media=compounds.media_names %}
{{ media|length }} Media:
<ol>
{% for med in media %}
  <li>
    <a href='{% url 'media_record' med.medid %}'>{{ med }}</a>
  </li>
{% endfor %}
</ol>
{% endwith %}
</div>
{% endblock %}
