{% extends "defined_media/base.html" %}

{% block title %}Media database: Compounds{% endblock %}

{% block content %}
<p>
{% if page_obj %}
<a href="{% url 'compounds_paged' 1 %}">First</a>
{% if page_obj.has_previous %}<a href="{% url 'compounds_paged' page_obj.previous_page_number %}">Prev</a>{% else %}Prev{% endif %}
{% if page_obj.has_next %}<a href="{% url 'compounds_paged' page_obj.next_page_number %}">Next</a>{% else %}Next{% endif %}
<a href="{% url 'compounds_paged' page_obj.paginator.num_pages %}">Last</a>
{% endif %}
</p>

{% if object_list %}
	<p>Here are compounds {{ page_obj.start_index }} - {{ page_obj.end_index }}</p>

	<ul>
	{% for compound in object_list %}
		<li><a href="{% url 'compound_record' compound.compid %}"> {{ compound }}</a></li>
	{% endfor %}
	</ul>
{% else %}
	<p>No compounds are available.</p>
{% endif %}
{% endblock %}
