{% extends 'defined_media/base.html' %}

{% block title %}Compound: {{ compounds }}{% endblock %}

{% block content %}

<div>
{% if compounds %}
        <h2>{{ compounds.name }}</h2>
	<!-- Compound ID: {{ compounds.compid }} -->
	<p>Formula: {% if compounds.formula %}{{ compounds.formula }}{% else %}<i>&lt;No Data&gt;</i>{% endif %}
	<p>KEGG ID: {{ compounds.kegg_id|default:'<i>&lt;None&gt;</i>' }}</p>
	<p>BiGG ID: {{ compounds.bigg_id|default:'<i>&lt;None&gt;</i>' }}</p>
	<p>SEED ID: {% if compounds.seed_id %}{{ compounds.seed_id }}{% else %}<i>&lt;None&gt;</i>{% endif %}
	<p>Chebi ID(s): {% if compounds.chebi_ids %}{{ compounds.chebi_ids }}{% else %}<i>&lt;None&gt;</i>{% endif %}
	<p>Pubchem ID(s): {% if compounds.pubchem_ids %}{{ compounds.pubchem_ids }}{% else %}<i>&lt;None&gt;</i>{% endif %}
{% else %}
	<p>No compound found</p>
{% endif %}
</div>

<div>
{% with names_list=compounds.namesofcompounds_set.all %}
<p>{{ names_list|length }} Alternate name(s):</p>

<ul>
  {% for name in names_list %}
  <li>{{ name.name}}</li>	
  {% endfor %}
</ul>
{% endwith %}
</div>

<div>
{% with media=compounds.media_names %}
{{ media|length }} Media:
<ol>
{% for med in media %}
  <li>
    <a href='{% url 'media_record' med.medid %}'>{{ med }}</a>
  </li>
{% endfor %}
</ol>
{% endwith %}
</div>
{% endblock %}
