{% extends 'defined_media/base.html' %}
<!-- page to edit GrowthData object -->

{% block js_files %}
{% load static %}
<script src='{% static 'defined_media/js/jquery-1.10.2.min.js' %}' type='text/javascript'></script>
<script src='{% static 'defined_media/js/jquery-ui.js' %}' type='text/javascript'></script>
<script src='{% static 'defined_media/js/growthdata.js' %}' type='text/javascript'></script>
{% endblock %}

{% block content %}
<form id='id_growthdata_form' action='' method='POST'>
<h2>{% if gd %}Editing Growth Data Record{% else %}Create New Growth Data Record{% endif %}</h2>
{% csrf_token %}
<div>
{% if form.errors %}Errors: {{form.errors}}{% endif %}
</div>
<table>
{{form.contributor}}
<tr>
  <td>{{form.strainid.label}}</td>
  <td>{{form.strainid}}</td>
</tr><tr>
<tr>
  <td>{{form.sourceid.label}}</td>
  <td>{{form.sourceid}}</td>
</tr><tr>
<tr>
  <td>{{form.medid.label}}</td>
  <td>{{form.medid}}</td>
</tr><tr>
<tr>
  <td>{{form.growth_rate.label}}</td>
  <td>{{form.growth_rate}}</td>
</tr><tr>
<tr>
  <td>{{form.temperature_c.label}}</td>
  <td>{{form.temperature_c}}</td>
</tr><tr>
<tr>
  <td>{{form.ph.label}}</td>
  <td>{{form.ph}}</td>
</tr><tr>
<tr>
  <td>{{form.additional_notes.label}}</td>
  <td>{{form.additional_notes}}</td>
</tr><tr>

</tr><tr>
    <td><input type='submit' value='Submit' /></td></tr>
</tr>
</table>
</form>
{% endblock %}
