{% extends 'defined_media/base.html' %}

{% block title %}Growth Data: {{ growthdata }}{% endblock %}

{% block content %}
<h2>Growth Data: {{ growthdata }}</h2>
{% if request.user.is_authenticated %}<p>
  {% if can_edit %}
  <a href='{% url 'edit_growth_data' growthdata.growthid %}'>Edit this record</a>&nbsp;&nbsp;&nbsp;
  <a href='{% url 'clone_growth_data' growthdata.growthid %}'>Clone this record</a>
  {% endif %}
</p>{% endif %}

{% comment %}
<p>
This record <b>{% if growthdata.approved %}is{% else %}is not yet{% endif %}</b> approved.<br />
</p>
{% endcomment %}
<table>
<tr><td>Organism: </td>
<td><a href='{% url 'organism_record' growthdata.strainid_id%}'>{{ growthdata.strainid }}</a></td></tr>
<tr><td>Media: </td>
<td><a href='{% url 'media_record' growthdata.medid_id %}'>{{ growthdata.medid  }}</a></td></tr>
<tr><td>Source: </td>
<td><a href='{% url 'source_record' growthdata.sourceid_id %}'>{{ growthdata.sourceid  }}</a></td></tr>
<tr><td>Growth Rate: </td>
<td>{{ growthdata.growth_rate  }} ({{ growthdata.growth_units }})</td></tr>
<tr><td>pH: </td>
<td>{{ growthdata.ph  }}</td></tr>
<tr><td>Temperature: </td>
<td>{{ growthdata.temperature_c  }}</td></tr>

<tr><td>Rate measurement technique: </td>
<td>{{ growthdata.measureid  }}</td></tr>

<tr><td>Additional notes: </td>
<td>{{ growthdata.additional_notes  }}</td></tr>

<tr><td>&nbsp;</td><td>&nbsp;</td></tr>
<tr><td>Secretion/Uptake Compounds</td><td>{{ growthdata.secretionuptake_set.count }}</td></tr>
</table>


{% if growthdata.secretionuptake_set.count > 0 %}
<table>
<tr>
  <th>Compound</th>
  <th>Rate</th>
  <th>Units</th>
  <th>Type</th>
</tr>
{% for uptake in growthdata.secretionuptake_set.all %}
<tr>
  <td>{{ uptake.compid }}</td>
  <td>{{ uptake.rate }}</td>
  <td>{{ uptake.units }}</td>
  <td>{{ uptake.rateid }}</td>
</tr>
{% endfor %}
</table>
{% endif %}

{% endblock %}
