{% extends 'defined_media/base.html' %}

{% block title %}Growth Data: {{ growthdata }}{% endblock %}

{% block content %}
<h2>Growth Data: {{ growthdata }}</h2>
{% if request.user.is_authenticated %}<p>
  {% if request.user.contributor.can_edit growthdata.growthid %}
  <a href='{% url 'new_media_form' growthdata.growthid %}'>Edit this record</a>
  {% endif %}
  <a href='{% url 'clone_growth_data' growthdata.growthid %}'>Clone this record</a>
</p>{% endif %}

<table>
<tr><td>Organism: </td>
<td><a href='{% url 'organism_record' growthdata.strainid_id%}'>{{ growthdata.strainid }}</a></td></tr>
<tr><td>Media: </td>
<td><a href='{% url 'media_record' growthdata.medid_id %}'>{{ growthdata.medid  }}</a></td></tr>
<tr><td>Source: </td>
<td><a href='{% url 'source_record' growthdata.sourceid_id %}'>{{ growthdata.sourceid  }}</a></td></tr>
<tr><td>Growth Rate: </td>
<td>{{ growthdata.growth_rate  }} ({{ growthdata.growth_units }})</td></tr>
<tr><td>pH: </td>
<td>{{ growthdata.ph  }}</td></tr>
<tr><td>Temperature: </td>
<td>{{ growthdata.temperature_c  }}</td></tr>

<!-- this needs to be a list! 
- One <li> for each secretion/uptake/yield rate:
<compound name> @ <rate>/<units>
-->


<tr><td>Rate measurement technique: </td>
<td>{{ growthdata.measureid  }}</td></tr>

<tr><td>Additional notes: </td>
<td>{{ growthdata.additional_notes  }}</td></tr>
</table>


{% endblock %}
