<!DOCTYPE html
	PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	 "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-US" xml:lang="en-US">
<head>
<title>{% block title %}MediaDB{% endblock %}</title>
{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'media_database/css/media_database.css' %}"></link>
</head>
<body>

<div class='header'>
  {% block header %}Media Database 3

<form method='POST' action='{% url 'search_results' %}'>{% csrf_token %}
{{ form.as_p }}
<input type='submit' value='Search'>
</form>

  {% endblock %}
</div>

<div class='main'>
  <div class='nav'>
    {% include "navigation.html" %}
  </div>

  <div id='content' class='content'>{% block content %}

  {% endblock content %}<div>
</div>
