<!-- login_tag.html -->
<div class='login'>

{% if request.user.is_authenticated %}
<form action='{% url 'logout' %}' method='post'>
{% else %}
<form action='{% url 'login' %}' method='post'>
{% endif %}
{% if next %}
<input type='hidden' name='next' value='{{ next }}' />
{% else %}
<input type='hidden' name='next' value='{{ request.get_full_path }}' />
{% endif %}

{% csrf_token %}
{% if request.user.is_authenticated %}
Logged in as {{ request.user }}
<input type='submit' value='Logout' />
{% else %}
{{ login_tag_form.username.label }}: {{ login_tag_form.username }}
{{ login_tag_form.password.label }}: {{ login_tag_form.password }}
<input type='submit' value='Login' />
    <div>
      <a href='{% url 'login' %}'>Register New User</a>
{% comment %}      <a href=''>fixme! Forgot Username/Password?</a>{% endcomment %}
    </div>
{% endif %}
</form>
</div>
<!-- end login_tag.html -->
