{% extends 'defined_media/base.html' %}

{% block title %}Defined Media Database{% endblock %}

{% block content %}


<h2>MediaDB: A Collection of Chemically-Defined Growth Conditions</h2>

<p>MediaDB is a resource maintained by the <a href='https://price.systemsbiology.net'>Price Lab</a> at the Institute for Systems Biology that brings together fully-sequenced species and their associated chemically-defined growth media as reported by primary literature sources.  As the wealth of sequence information continues to grow, there is an expanding pool of publically-avaiable genomic data.  Our hope is that this set of experimentally-verified data will establish a knowledgebase of media-genome connections that will expand and aid in media formulation development. </p>

<p>Media formulations and genomic data also feed into the field of constraint-based metabolic modeling, in which the genome is related to metabolism through gene-protein-reaction relationships and used to create a model that simulates growth on a particular media formulation.  MediaDB was formed with a strong emphasis on constraint-based modeling and contains data for the majority of organisms with existing in silico models in accordance with the <a href='http://gcrg.ucsd.edu/InSilicoOrganisms/OtherOrganisms'>list of <i>in silico</i> organisms</a> maintained by the Palsson group at UC San Diego.  The information in MediaDB provides a wealth of media conditions that can contribute to model creation and refinement efforts. </p>

<h2>How To Use MediaDB</h2>

<p>All of the data records in MediaDB can be searched using the search box or browsed using the tabs shown on the left.  Any media formulation record can be exported in tab-delimited format for use in other applications.  Alternatively, you can download the entire database schema <a href='{% url 'downloads' %}'>here</a>.</p>

<h2>Contact Us</h2>

<p>For questions regarding MediaDB, including how to contribute data to MediaDB, please contact <a href='mailto: mediadb@systemsbiology.org'>mediadb@systemsbiology.org</a></p>

<h2>Acknowledgements</h2>

<p>We would like to extend our thanks to all the individuals who contributed to creating this database. MediaDB was created both at the Institute for Systems Biology in Seattle, Wa and at the University of Illinois in Urbana-Champaign, IL.</p>

{% endblock %}
