{% extends 'defined_media/base.html' %}

{% block title %}Defined Media Database{% endblock %}

{% block content %}


<h2>MediaDB: A Database of Chemically-Defined Growth Conditions</h2>

<p>MediaDB collects chemically defined growth media from primary literature sources for fully sequenced organisms. The database is maintained by the <a href='https://price.systemsbiology.net' target='_blank'>Price Lab</a> at the Institute for Systems Biology. MediaDB places special emphasis on organisms with existing genome scale metabolic models (for examples of such models, visitors can refer to the <a href='http://gcrg.ucsd.edu/InSilicoOrganisms/OtherOrganisms' target='_blank'>list of <i>in silico</i> organisms</a> maintained by the Systems Biology Research Group at UC San Diego).  Information collected in MediaDB is intended to aid in formulating defined media, discovering connections between media compounds and organism characteristics, and reconstructing genome-scale metabolic networks.</p>

<h2>How To Use MediaDB</h2>

<p>All of the data records in MediaDB can be searched using the search box or browsed using the tabs shown on the left.  Any media formulation record can be exported in tab-delimited format for use in other applications.  Alternatively, you can download the entire database schema <a href='{% url 'downloads' %}'>here</a>.</p>

<h2>Contact Us</h2>

<p>For questions regarding MediaDB, including how to contribute data to MediaDB, please contact <a href='mailto: mediadb@systemsbiology.org'>mediadb@systemsbiology.org</a></p>

<h2>Acknowledgements</h2>

<p>We would like to extend our thanks to all the individuals who contributed to creating this database. MediaDB was created both at the Institute for Systems Biology in Seattle, WA and at the University of Illinois in Urbana-Champaign, IL.</p>

{% endblock %}
