{% extends 'defined_media/base.html' %}

{% block title %}Media: {{ medianames }}{% endblock %}

{% block content %}
<h2>Media: {{ medianames }}</h2>

<p>Is minimal: {% if medianames.is_minimal != 'N' %}Yes{% else %}No{% endif %}</p>
<p><a href='{% url 'media_text' medianames.medid %}'>Tab-delimited version</a></p>

{% if can_edit %}
<div>
<a href='{% url 'new_media' medianames.medid %}'>Edit this record</a>
</div>
{% endif %}

<div>
{% with compound_list=medianames.sorted_compounds %}
{{ compound_list|length }} Compounds:
<table>
<tr><th>Compound</th><th>Amount (mM)</th></tr>
{% for comp in compound_list %}
<tr>
<td><a href='{% url 'compound_record' comp.compid_id %}'>{{ comp.compid.name }}</a></td>
<td> {{ comp.amount_mm }}</td>
</tr>
{% endfor %}
</table>
{% endwith %}
</div>

<p>&nbsp;</p>

<div>
{% with org_list=medianames.sorted_organisms %}
{{ org_list|length }} Organism(s):
<ol>
{% for org in org_list %}
<li><a href='{% url 'organism_record' org.strainid %}'>{{ org }}</a></li>
{% endfor %}
</ol>
{% endwith %}
</div>

<div>
{% with sources=medianames.uniq_sources %}
{{ sources|length }} Source(s):
<ol>
{% for src in sources %}
<li><a href='{% url 'source_record' src.sourceid %}'>{{ src }}</a></li>
{% endfor %}
</ol>
{% endwith %}
</div>

{% endblock %}
