{% extends 'defined_media/base.html' %}

{% block title %}Media: {{ medianames }}{% endblock %}

{% block content %}
<p>Media: {{ medianames }}</p>

<div>
{% with compound_list=medianames.sorted_compounds %}
{{ compound_list|length }} Compounds:
<table>
<tr><th>Compound</th><th>Amount</th></tr>
{% for comp in compound_list %}
<tr>
<td><a href='{% url 'compound_record' comp.compid_id %}'>{{ comp }}</a></td>
<td> {{ comp.amount_mm }} Mm</td>
</tr>
{% endfor %}
</table>
{% endwith %}
</div>

<div>
{% with org_list=medianames.sorted_organisms %}
{{ org_list|length }} Organisms:
<ol>
{% for org in org_list %}
<li><a href='{% url 'organism_record' org.strainid %}'>{{ org }}</a></li>
</ol>
{% endfor %}
{% endwith %}
</div>

<div>
{% with sources=medianames.sources %}
{{ sources|length }} Sources:
<ol>
{% for src in sources %}
<li><a href='{% url 'source_record' src.sourceid %}'>{{ src }}</a></li>
{% endfor %}
</ol>
{% endwith %}
</div>

{% endblock %}
