{% extends 'defined_media/base.html' %}
{% block js_files %}
{% load static %}
<script src='{% static 'defined_media/js/jquery-1.10.2.min.js' %}'></script>
<script src='{% static 'defined_media/js/jquery-ui.js' %}'></script>
<script src='{% static 'defined_media/js/newmedia.js' %}'></script>
{% endblock %}

{% block content %}
<h2>Enter Media Information:</h2>
<form action='' method='POST'>
{% csrf_token %}
<table id='newmedia_table'>
<tr><tr><th>Organsim:</th></tr>
<tr><td>Genus: {{ form.genus }}</td><td>Species: {{ form.species }}</td><td>Strain: {{ form.strain }}</td></tr>
</table>

<table>
<tr><th>Source: </th></tr>
<tr><td>{{ form.pmid.label }}: {{ form.pmid }}</td></tr>
</table>

<table>
<tr><th>Growth Info:</th></tr>
<tr><td>{{ form.growthrate.label }}: </td><td>{{ form.growthrate }} h<sup>-1</sup></td></tr>
<tr><td>{{ form.temperature.label }}: </td><td>{{ form.temperature }}&deg;C</td></tr>
<tr><td>{{ form.ph.label }}: </td><td>{{ form.ph }}</td></tr>
</table>

<table>
<tr><th>Compound:</th><th>Amount (mM)</th></tr>
<tr id='id_comp_row1'>
    <td>{{ form.comp1 }}</td>
    <td>{{ form.amount1 }}</td>
    <td><input id='id_add_compound1' type='button' value='Add' /></td>
</tr>
</table>

<h4>Uptake/Secretion</h4>
<table>
<tr><th>Compound</th><th>Rate (+/-)</th></tr>
<tr id='id_uptake_row1'>
  <td>{{ form.uptake_comp1 }}</td>
  <td>{{ form.uptake_rate1 }}</td>
  <td><input id='id_add_uptake1' type='button' value='Add' /></td>
</tr>
<tr><td><input type='submit' value='Submit' ?></td></tr>
</table>

</form>
{% endblock %}
