{% extends 'defined_media/base.html' %}

{% block title %}Organism: {{ organisms }}{% endblock %}

{% block content %}
<h2>Organism: {{ organisms }} ({{ organisms.typeid }})</h2>

<p>Has model: {% if organisms.has_model = 1 %}Yes{% else %}No{% endif%}</p>

<li>Link to <a href='{{ organisms.ncbi_link }}' target='_blank'>NCBI Genome Projects</a></li>

{% with growth_data=organisms.growthdata_set.all %}

<ol>{{ growth_data|length }} Growth Condition(s):
{% for gd in growth_data %}
  <li>
    Growth Data Record: <a href='{% url 'growth_record' gd.growthid %}'>{{ gd }}</a><br/>
    Media: <a href='{% url 'media_record' gd.medid_id %}'>{{ gd.medid.media_name }}</a><br/>
    Source: <a href='{% url 'source_record' gd.sourceid_id %}'>{{ gd.sourceid }}</a>  
    <br/>
  </li>
{% endfor %}</ol>
{% endwith %}


{% endblock %}
