{% extends "defined_media/base.html" %}
{% block title %}Defined Media: Search{% endblock %}

{% block content %}

{% if search_term %}

<h2>Search term: '{{ search_term }}': {{ n_results }} match{% if n_results != 1 %}es{% endif %}:</h2>
<ul>{% for classname, obj_list in results.items %}
<li><a href='#{{classname}}'>{{ obj_list|length }} {{ classname }}</a></li>
{% endfor %}</ul>

{% for classname, obj_list in results.items %}
<div>
<a id='{{classname}}'><h4>{{ obj_list|length }} {{ classname }}</h4></a>
<ol>
{% for sr in obj_list %}
<li><a href='{{ sr.obj_url }}'>{{ sr }}</a></li>
{% endfor %}
</ol>
</div>
{% endfor %}





{% endif %}
{% endblock %}
