{% extends 'defined_media/base.html' %}

{% block title %}Source: {{ sources }}{% endblock %}

{% block content %}
<ul>
<li>First author: {{ sources.first_author|capfirst }}</li>
<li>Journal: {{ sources.journal_cap }}</li>
<li>Year: {{ sources.year }}</li>
<li>Title: {{ sources.title }}</li>
<li>Link to <a href='{{ sources.link }}'>Article</a>
</ul>

<ol>Associated Growth Data:
{% for gd in sources.growthdata_set.all %}
<li><a href='{% url 'growth_record' gd.sourceid_id %}'>{{ gd }}</a></li>
{% endfor %}

{% endblock %}
