body {
    font-family:Verdana,sans-serif;
} 

#container2 {
    float:left;
    clear:left;
    width:100%;
    position:relative;
    overflow:hidden;
    background-color: white;
}
#container1 {
    float:left;
    width:100%;
    position:relative;
    right:20%;
    background-color: #b6e4fc;
}
#navcol {
    float:left;
    width:20%;
    position:relative;
    left:20%;
    overflow:hidden;
//    border: 1px solid black;
}
#contentcol {
    float:left;
    width:75%;
    position:relative;
    left:20%;
    overflow:hidden;
    padding: 15px;
    background-color: white;
//    border: 1px solid red;
}


.header { 
    width: 100%;
    height: 100%;
    background-color: white;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
    background-image: url('/static/defined_media/images/isb_logo.jpg');
    background-repeat: no-repeat;
}

span#banner {
    font-size: xx-large;
}

.nav {
    float: left;
    width: 20%;
    background-color: #b6e4fc;
}

// obsolete?
.content {
    float: left;
    width: 80%;
}

.footer {
    clear: both;
    color: white;
    text-align: center;
    background-color: blue;
    width: 100%;
}

div.header2 {
    width: 100%;
    height: 100%;
    padding-top: 30px;
    padding-bottom: 30px;
    position:relative;
    overflow:hidden;
    color: white;
    background-color: #44F;
}


.header2 a, .header2 a:visited { 
    color: white; 
    font-size: small;
    text-decoration: underline;
    border-bottom: 1px white dotted;
}

div.login {
    position: absolute;
    left: 0px;
    bottom: 0px;
    vertical-align: bottom;
}


.login1 {
    padding: 4px;
    position: absolute;
    left: 0px;
    bottom: 0px;
}

div.search_form_outer {
    width: 20%;
    margin-left: auto;
    margin-right: auto;

/*    display: table-cell;*/
}

div.search_form_inner {
//    padding: 4px;
    position: absolute;
    right: 10px;
    bottom: 17px;
}

span.error {
    color: red;
}

/* highlight results */
.ui-autocomplete span.hl_results {
    background-color: #ffff66;
}
 
/* loading - the AJAX indicator */
.ui-autocomplete-loading {
    background: white url('../img/ui-anim_basic_16x16.gif') right center no-repeat;
}
 
/* scroll results */
.ui-autocomplete {
    max-height: 250px;
    overflow-y: auto;
    /* prevent horizontal scrollbar */
    overflow-x: hidden;
    /* add padding for vertical scrollbar */
    padding-right: 5px;
}
 
.ui-autocomplete li {
    font-size: 16px;
}
 
/* IE 6 doesn't support max-height
* we use height instead, but this forces the menu to always be this tall
*/
* html .ui-autocomplete {
    height: 250px;
}